<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </script>
  </head>
  <body>
    <div id="posts"></div>
    <script type="text/javascript" src="socket.io.min.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
    <script>
      reactInitial(<%- initialData %>);
    </script>
  </body>
</html>
